Package: libvirt-daemon-driver-storage-zfs-hwe
Source: libvirt
Version: 1:11.2.1+ds-0ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 37
Depends: libvirt-common-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-storage-hwe (= 12.0.0-1ubuntu3), libvirt0-hwe (= 12.0.0-1ubuntu3), libc6 (>= 2.4), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.12.0)
Recommends: zfsutils
Provides: libvirt-daemon-driver-storage-zfs, virt-hwe
Replaces: libvirt-daemon-driver-storage-zfs
Conflicts: virt
Section: admin
Priority: optional
Homepage: https://libvirt.org/storage.html#zfs-pool
Description: virtualization daemon - ZFS storage driver
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the storage driver for ZFS.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
