Package: libvirt-ssh-proxy-hwe
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 32
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), libc6 (>= 2.34), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.12.0), libxml2-16 (>= 2.14.1)
Section: admin
Priority: optional
Homepage: https://libvirt.org/ssh-proxy.html
Description: virtualization library - SSH proxy
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 When this package is installed, ssh will be able to connect to locally
 running libvirt domains via VSOCK.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
