Package: libvirt-daemon-driver-storage-iscsi-hwe
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 33
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt-daemon (= 12.0.0-1ubuntu3), libvirt-daemon-driver-storage (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), open-iscsi, libc6 (>= 2.38), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.24.0)
Breaks: libvirt-daemon (<< 10.6.0-2~)
Replaces: libvirt-daemon (<< 10.6.0-2~), libvirt-daemon-driver-storage-iscsi-hwe, libvirt-daemon-driver-storage-iscsi
Provides: libvirt-daemon-driver-storage-iscsi, virt-hwe
Conflicts: virt
Section: admin
Priority: optional
Homepage: https://libvirt.org/storage.html#iscsi-pool
Description: virtualization daemon - iSCSI storage driver
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the storage driver for iSCSI volumes.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
