Package: qemu-block-supplemental
Source: qemu
Version: 1:10.2.1+ds-1ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 177
Depends: libblkio1 (>= 1.4.0), libc6 (>= 2.4), libgfapi0 (>= 11.2), qemu-system-common (= 1:10.2.1+ds-1ubuntu1) | qemu-utils (= 1:10.2.1+ds-1ubuntu1)
Enhances: qemu-system-arm, qemu-system-mips, qemu-system-misc, qemu-system-ppc, qemu-system-riscv, qemu-system-s390x, qemu-system-sparc, qemu-system-x86, qemu-utils
Breaks: qemu-block-extra (<< 1:8.2.0+ds-4ubuntu2~)
Replaces: qemu-block-extra (<< 1:8.2.0+ds-4ubuntu2~), qemu-block-supplemental
Conflicts: virt-hwe
Provides: virt
Section: otherosfs
Priority: optional
Homepage: http://www.qemu.org/
Description: supplemental block backend modules for qemu-system and qemu-utils
 QEMU is a fast processor emulator: currently the package supports Alpha, ARM,
 CRIS, i386, LoongArch, M68k (ColdFire), MicroBlaze, MIPS, PowerPC, RISC-V,
 S390x, SH4, SPARC, x86-64, Xtensa and other emulations. By using dynamic
 translation it achieves reasonable speed while being easy to port on new host
 CPUs.
 .
 This package provides supplemental block device backend modules for qemu-system
 emulation and qemu-img from qemu-utils package.
 .
 Currently, the following modules are shipped in this package:
  block-glusterfs block-blkio
Original-Maintainer: Debian QEMU Team <pkg-qemu-devel@lists.alioth.debian.org>
