Package: libvirt-clients
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1155
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), libxml2-utils, sensible-utils, libc6 (>= 2.34), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.44.0), libgnutls30t64 (>= 3.7.0), libreadline8t64 (>= 6.0), libxml2-16 (>= 2.14.1)
Suggests: libvirt-clients-qemu (= 12.0.0-1ubuntu3), libvirt-daemon (= 12.0.0-1ubuntu3), libvirt-login-shell (= 12.0.0-1ubuntu3)
Breaks: libvirt-daemon (<< 6.9.0-2~), libvirt-daemon-driver-qemu (<< 6.9.0-2~)
Replaces: libvirt-daemon (<< 6.9.0-2~)
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: virtualization library - clients
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains virsh, a command line tool that can be used to
 control the libvirt daemon, as well as a few additional utilities.
 .
 Note that libvirt is fully network aware, meaning that it's possible to use
 the clients installed on the local machine to control a remote hypervisor
 host.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
