Package: libvirt-daemon-config-network
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 29
Depends: adduser, libvirt-common (<< 12.0.0-1ubuntu3.1~), libvirt-common (>= 12.0.0-1ubuntu3), libvirt-daemon-driver-network (<< 12.0.0-1ubuntu3.1~), libvirt-daemon-driver-network (>= 12.0.0-1ubuntu3), libvirt0 (<< 12.0.0-1ubuntu3.1~), libvirt0 (>= 12.0.0-1ubuntu3)
Breaks: libvirt-daemon-driver-qemu (<< 11.0.0-2ubuntu9~), libvirt-daemon-system (<< 6.9.0-2~)
Replaces: libvirt-daemon-driver-qemu (<< 11.0.0-2ubuntu9~), libvirt-daemon-system (<< 6.9.0-2~), libvirt-daemon-config-network-hwe
Provides: virt, libvirt-daemon-config-network
Conflicts: virt-hwe
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: virtualization daemon - configuration files (default network)
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the configuration for the 'default' libvirt network.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
