Package: libvirt0-hwe
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 5447
Depends: libvirt-common (= 12.0.0-1ubuntu3), libacl1 (>= 2.2.23), libapparmor1 (>= 3.0.0), libaudit1 (>= 1:2.2.1), libbsd0 (>= 0.2.0), libc6 (>= 2.38), libcap-ng0 (>= 0.7.9), libcurl3t64-gnutls (>= 7.28.0), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.68.0), libgnutls30t64 (>= 3.8.2), libjson-c5 (>= 0.15), libnl-3-200 (>= 3.11.0), libnuma1 (>= 2.0.15), libsasl2-2 (>= 2.1.28+dfsg1), libselinux1 (>= 3.1~), libssh-4 (>= 0.11.1), libtirpc3t64 (>= 1.0.2), libxml2-16 (>= 2.14.1)
Recommends: libvirt-l10n (= 12.0.0-1ubuntu3)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://libvirt.org/
Description: virtualization library
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the shared library.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
