Package: libvirt-daemon-driver-xen-hwe
Source: libvirt
Version: 1:11.2.1+ds-0ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 350
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt-daemon (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), logrotate, libc6 (>= 2.38), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.64.0), libxenmisc4.20 (>= 4.20.2+7-g1badcf5035), libxenstore4 (>= 4.16.0), libxentoollog1 (>= 4.20.2+7-g1badcf5035), libxml2-16 (>= 2.14.1)
Enhances: xen
Breaks: libvirt-daemon-system (<< 10.6.0-2~)
Replaces: libvirt-daemon-system (<< 10.6.0-2~)
Section: admin
Priority: optional
Homepage: https://libvirt.org/drvxen.html
Description: virtualization daemon - Xen connection driver
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the Xen connection driver.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
