Package: qemu-block-extra-hwe
Source: qemu
Version: 1:10.2.1+ds-1ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 324
Depends: virt-hwe, libbz2-1.0, libc6 (>= 2.14), libcurl3t64-gnutls (>= 7.16.3), libiscsi7 (>= 1.18.0), libnfs14 (>= 4.0.0), librados2 (>= 0.72.2), librbd1 (>= 19.2.3-0ubuntu4), libssh-4 (>= 0.8.4), qemu-system-common-hwe (= 1:10.2.1+ds-1ubuntu1) | qemu-utils-hwe (= 1:10.2.1+ds-1ubuntu1)
Enhances: qemu-system-arm-hwe, qemu-system-mips-hwe, qemu-system-misc-hwe, qemu-system-ppc-hwe, qemu-system-riscv-hwe, qemu-system-s390x-hwe, qemu-system-sparc-hwe, qemu-system-x86-hwe, qemu-utils-hwe
Conflicts: virt
Replaces: qemu-block-extra
Provides: qemu-block-extra
Section: otherosfs
Priority: optional
Homepage: http://www.qemu.org/
Description: extra block backend modules for qemu-system and qemu-utils
 QEMU is a fast processor emulator: currently the package supports Alpha, ARM,
 CRIS, i386, LoongArch, M68k (ColdFire), MicroBlaze, MIPS, PowerPC, RISC-V,
 S390x, SH4, SPARC, x86-64, Xtensa and other emulations. By using dynamic
 translation it achieves reasonable speed while being easy to port on new host
 CPUs.
 .
 This package provides extra block device backend modules for qemu-system
 emulation and qemu-img from qemu-utils package, which are rarely used and
 has extra dependencies.
Original-Maintainer: Debian QEMU Team <pkg-qemu-devel@lists.alioth.debian.org>
