Package: libvirt-daemon-plugin-lockd-hwe
Source: libvirt
Version: 1:11.2.1+ds-0ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 41
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt-daemon-lock (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), libc6 (>= 2.4), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.12.0), libtirpc3t64 (>= 1.0.2)
Recommends: libvirt-daemon (= 12.0.0-1ubuntu3)
Breaks: libvirt-daemon (<< 10.6.0-2~)
Replaces: libvirt-daemon (<< 10.6.0-2~)
Section: admin
Priority: optional
Homepage: https://libvirt.org/kbase/locking-lockd.html
Description: virtualization daemon - locking plugin (virtlockd)
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the plugin that implements disk locking using virtlockd.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
