Package: qemu-system-x86-xen-hwe
Source: qemu
Version: 1:11.2.1+ds-0ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 98
Depends: virt-hwe, qemu-system-xen-hwe (>= 1:7.0+dfsg-7ubuntu1)
Replaces: qemu-system-x86-xen
Provides: qemu-system-x86-xen
Section: oldlibs
Priority: optional
Multi-Arch: foreign
Homepage: http://www.qemu.org/
Description: QEMU full system emulation binaries (x86)
 The former qemu-system-x86-xen binaries are now in qemu-system-xen.
 .
 This is a transitional package. You can safely remove it.
Original-Maintainer: Debian QEMU Team <pkg-qemu-devel@lists.alioth.debian.org>
