Package: libvirt-daemon-driver-qemu
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2326
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt-daemon-log (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), logrotate, qemu-kvm | qemu-system, systemd-container | sysvinit-core, debconf (>= 0.5) | debconf-2.0, systemd | systemd-standalone-sysusers | systemd-sysusers, libc6 (>= 2.38), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.64.0), libgnutls30t64 (>= 3.7.0), libselinux1 (>= 3.1~), libxml2-16 (>= 2.14.1)
Recommends: swtpm, swtpm-tools
Suggests: numad, passt
Enhances: qemu-kvm, qemu-system
Breaks: libvirt-clients (<< 6.9.0-2~), libvirt-daemon-config-network (<< 11.0.0-2ubuntu9~), libvirt-daemon-system (<< 10.6.0-2~)
Replaces: libvirt-clients (<< 6.9.0-2~), libvirt-daemon-system (<< 10.6.0-2~)
Section: admin
Priority: optional
Homepage: https://libvirt.org/drvqemu.html
Description: virtualization daemon - QEMU connection driver
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the QEMU connection driver.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
