Package: libvirt-daemon-system-hwe
Source: libvirt
Version: 1:11.2.1+ds-0ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 16
Depends: libvirt-clients-hwe (= 12.0.0-1ubuntu3), libvirt-common-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-common-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-config-network-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-config-nwfilter-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-network-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-nodedev-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-nwfilter-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-qemu-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-secret-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-driver-storage-hwe (= 12.0.0-1ubuntu3), libvirt-daemon-log-hwe (= 12.0.0-1ubuntu3), libvirt0-hwe (= 12.0.0-1ubuntu3)
Provides: libvirt-daemon-system, virt-hwe
Replaces: libvirt-daemon-system
Conflicts: virt
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: virtualization daemon - typical QEMU-based deployment
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package doesn't contain any files on its own, and is intended as a
 convenient way to create the most common type of libvirt setup (local QEMU
 hypervisor) in one go.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
