Package: qemu-system-data-hwe
Source: qemu
Version: 1:10.2.1+ds-1ubuntu1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 19184
Breaks: qemu-system-common (<< 1:8.2.2+ds-1~), qemu-system-misc (<< 1:10.1.0~rc2+ds-1), qemu-system-s390x (<< 1:9.2.0~)
Replaces: qemu-system-common (<< 1:8.2.2+ds-1~), qemu-system-misc (<< 1:10.1.0~rc2+ds-1), qemu-system-data
Conflicts: qemu-system-data, virt
Provides: virt-hwe, qemu-system-data
Section: otherosfs
Priority: optional
Multi-Arch: foreign
Homepage: http://www.qemu.org/
Description: QEMU full system emulation (data files)
 This package provides architecture-neutral data files
 (such as keyboard definitions, icons) for system-mode
 QEMU emulation (qemu-system-*) packages.
Original-Maintainer: Debian QEMU Team <pkg-qemu-devel@lists.alioth.debian.org>
