Source: test-package-hwe
Section: misc
Priority: optional
Maintainer: Hector <hector@example.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: test-package-p1-hwe
Architecture: all
Provides: test-package-p1, ubuntu-virt-hwe
Conflicts: ubuntu-virt 
Replaces: test-package-p1
Depends: ${misc:Depends}, test-package-p2-hwe
Description: Very simple package that installs one text file
 This package installs a single text file under /usr/share.

Package: test-package-p2-hwe
Architecture: all
Provides: test-package-p2, ubuntu-virt-hwe
Conflicts: ubuntu-virt
Replaces: test-package-p2
Depends: ${misc:Depends}
Description: Very simple package that installs one text file
 This package installs a single text file under /usr/share.
