Package: libvirt-daemon-system-sysv
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 10
Depends: libvirt-common (<< 12.0.0-1ubuntu3.1~), libvirt-common (>= 12.0.0-1ubuntu3), libvirt-daemon-system (<< 12.0.0-1ubuntu3.1~), libvirt-daemon-system (>= 12.0.0-1ubuntu3), libvirt0 (<< 12.0.0-1ubuntu3.1~), libvirt0 (>= 12.0.0-1ubuntu3)
Section: admin
Priority: optional
Homepage: https://libvirt.org/
Description: transitional dummy package
 This is a transitional dummy package and can be safely removed.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
