Package: qemu-guest-agent
Source: qemu
Version: 1:10.2.1+ds-1ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 3876
Pre-Depends: init-system-helpers (>= 1.54~)
Depends: libc6 (>= 2.38), libglib2.0-0t64 (>= 2.78.0), libnuma1 (>= 2.0.11), libudev1 (>= 183), liburing2 (>= 2.3)
Section: otherosfs
Priority: optional
Multi-Arch: foreign
Homepage: http://www.qemu.org/
Description: Guest-side qemu-system agent
 QEMU is a fast processor emulator: currently the package supports Alpha, ARM,
 CRIS, i386, LoongArch, M68k (ColdFire), MicroBlaze, MIPS, PowerPC, RISC-V,
 S390x, SH4, SPARC, x86-64, Xtensa and other emulations. By using dynamic
 translation it achieves reasonable speed while being easy to port on new host
 CPUs.
 .
 This package provides a daemon (agent) to run inside qemu-system
 guests (full system emulation).  It communicates with the host using
 a virtio-serial channel org.qemu.guest_agent.0, and allows one to perform
 some functions in the guest from the host, including:
  - querying and setting guest system time
  - performing guest filesystem sync operation
  - initiating guest shutdown or suspend to ram
  - accessing guest files
  - freezing/thawing guest filesystem operations
  - others.
 .
 Install this package on a system which is running as guest inside
 qemu virtual machine.  It is not used on the host.
Original-Maintainer: Debian QEMU Team <pkg-qemu-devel@lists.alioth.debian.org>
