Package: libvirt-daemon-driver-nodedev-hwe
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 117
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt-daemon (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3), mdevctl, libc6 (>= 2.4), libgcc-s1 (>= 3.3.1), libglib2.0-0t64 (>= 2.44.0), libpciaccess0, libudev1 (>= 183)
Breaks: libvirt-daemon (<< 10.6.0-2~)
Replaces: libvirt-daemon (<< 10.6.0-2~), libvirt-daemon-driver-nodedev-hwe, libvirt-daemon-driver-nodedev
Provides: libvirt-daemon-driver-nodedev, virt-hwe
Conflicts: virt
Section: admin
Priority: optional
Homepage: https://libvirt.org/drvnodedev.html
Description: virtualization daemon - node device (nodedev) driver
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the node device (nodedev) driver.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
