Package: libvirt-dev
Source: libvirt
Version: 12.0.0-1ubuntu3
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 1740
Depends: libvirt-common (= 12.0.0-1ubuntu3), libvirt0 (= 12.0.0-1ubuntu3)
Recommends: pkgconf
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://libvirt.org/
Description: virtualization library - development files
 libvirt exposes a long-term stable API that can be used to interact with
 various hypervisors. Its architecture is highly modular, with most features
 implemented as optional drivers. It can be used from C as well as several
 other programming languages, and it forms the basis of virtualization
 solutions tailored for a range of use cases.
 .
 This package contains the header files and other supporting files that are
 needed when developing applications that use libvirt.
Original-Maintainer: Debian Libvirt Maintainers <pkg-libvirt-maintainers@lists.alioth.debian.org>
